@import "src/utils/mixins";
@import "src/utils/variables";

.block {
  @include flexCenter;
  min-height: 100vh;

  @media (max-width: 720px) {
    display: unset;
  }

  .container {
    display: flex;
    position: relative;
    margin-top: $paddingTopButton + $fontSize;

    @media (max-width: 970px) {
      position: relative;
      flex-direction: column;
    }

    @include showHiddenTextForTable;

    .filters {

      @media (max-width: 970px) {
        display: none;
      }
    }

    .packs {
      //position: relative;
      display: flex;
      flex-direction: column;

      @media (max-width: 720px) {
        display: unset;
      }

      .header {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-family: 'Montserrat', sans-serif;
      }

      @include tableMain(700px);



      .filtersSmall {
        display: none;

        @media (max-width: 970px) {
          display: unset;
        }
      }

    }
  }
}