@import "src/utils/mixins";
@import "src/utils/variables";

.block {
  @include flexCenter;
  min-height: 100vh;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: $paddingTopButton + $fontSize;

    .packs {
      display: flex;
      flex-direction: column;

      .header {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-family: 'Montserrat', sans-serif;

      }
      .settingsBlock {
        position: absolute;
        top: 80px; left: 0;
        width: 700px;
        z-index: 40;
        background: $tableHeaderColor;
        border: 2px solid $backColorSecond;

        @media (max-width: 970px) {
          top: 60px; left: 0
        }

        .settings {
          @include flexCenter;
          justify-content: space-evenly;
          height: 100%;
          padding: 10px 0;
          background-color: $backgroundColor;
          font-family: 'Montserrat', sans-serif;

          .showPacks {
            text-align: center;
            margin-bottom: 20px;
            > p {
              font-weight: bold;
            }
          }
          .showNumberPacks {
            text-align: center;
            > p {
              font-weight: bold;
            }
          }

        }

        .cross {
          position: absolute;
          cursor: pointer;
          color: red;
          top: 5px; right: 10px;
        }
      }

      @include tableMain(700px);

    }
  }
}