@import "src/utils/mixins";
@import "src/utils/variables";

.block {
  @include flexCenter;
  min-height: 100vh;

  .container {
    display: flex;
    margin-top: $paddingTopButton + $fontSize;

    .settingsBlock {
      width: 250px;
      margin-right: 10px;

      .settings {
        @include flexCenter;
        flex-direction: column;
        height: 100%;
        padding: 0 10px;
        background-color: $backgroundColor;
        font-family: 'Montserrat', sans-serif;

        > span {
          font-weight: bold;
        }
      }

    }

    .packs {
      display: flex;
      flex-direction: column;

      .header {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-family: 'Montserrat', sans-serif;

      }

      .table {
        position: relative;
        height: $rowHeight * 9;
        box-shadow: 0 4px 14px rgba(45, 46, 70, 0.15);
        width: 700px;

        .loader {
          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%, -50%);
        }
        .emptyPacksText {
          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          text-align: center;
          font-size: 30px;
          font-weight: 600;
          color: $backColorSecond;
        }

        > div:nth-child(even) {
          background: $tableEvenColor;
        }

        > div:nth-child(odd) {
          background: $tableOddColor;
        }

        > div:nth-child(1) {
          background: $tableHeaderColor;
        }
      }

      .page {
        @include flexCenter;
        height: $rowHeight;
      }

    }
  }
}