@import "src/utils/variables";
@import "src/utils/mixins";

.container {
  display: flex;
  justify-content: space-around;

  .inputBlock {
    width: 75%;
    display: flex;

    .input {
      width: 100%;
      >div {
        margin: 10px 10px;
      }
    }
  }

  .button {
    @include flexCenter;
  }
}