@import "../../../../utils/variables";

.rating {
  font-size: 25px;

  .ratingBody {
    position: relative;
    color: rgba(23, 38, 45, 0.44);

    &::before {
      content: "★★★★★";
      display: block;

    }

    .ratingActive {
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;


      &::before {
        content: "★★★★★";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: #fa5606;
      }

      .ratingItems {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .ratingItem {
          flex: 0 0 20%;
          height: 100%;
          opacity: 0;

        }
      }
    }
  }

  .ratingValue {
    font-size: 50%;
    line-height: 1;
    padding: 0 0 0 10px;
  }
}
