@import "src/utils/mixins";
@import "src/utils/variables";

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: $rowHeight;

  >div {
    @include flexCenter;
    text-align: center;
  }

  .question {
    width: 25%;
    @include hideTextTable;
    padding: 0 5px;
  }

  .answer {
    width: 25%;
    @include hideTextTable;
    padding: 0 5px;
  }

  .updated {
    width: 15%;
    padding: 0 5px;
  }

  .grade {
    width: 15%;
    padding: 0 5px;
  }

  .actions {
    width: 100%-25%-25%-15%-15%;
    @include flexCenter;
    padding: 0 5px;
  }

}