@import "../../../utils/variables";

.bgColorModal {
  border-radius: 4px;
  background: linear-gradient($backColorFirst, $backColorSecond);
  justify-content: space-evenly;

}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
  height: 100% !important;
  justify-content: space-between ;

  span{
    width: 80% !important;
  }

  div {
    margin: 10px 0;

    input {

    }
  }


  .button {
    display: flex;

    button {
      display: flex;
      padding: 10px 15px !important;
      margin-top: 10px !important;
    }
  }
}