@import "src/utils/variables";
@import "src/utils/mixins";

.block {
  @include flexCenter;
  min-height: 100vh;

  @media (max-width: 970px) {
    display: unset;
  }

  .container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    @media (max-width: 970px) {
      display: unset;
    }

    @include showHiddenTextForTable;

    .input {
      width: 95%;
      @media (max-width: 970px) {
        width: 100%;
      }

      .name {
        @include flexCenter();
        justify-content: flex-start;
        font-family: 'Montserrat', sans-serif;
        @include hideTextTable;

        > div {
          transform: rotate(180deg);
          @include flexCenter;
          span {
            font-size: 35px;
            margin: 0 15px;
            cursor: pointer;
            &:hover {
              color: $backColorSecond;
            }
          }
        }

      }

    }

    @include tableMain(900px);

  }
}