@import "src/utils/variables";
@import "src/utils/mixins";

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient($backColorFirst, $backColorSecond);
  justify-content: center;

  .container {
    display: flex;
    width: 1008px;
    height: 636px;
    background-color: #FEFEFF;
    flex-direction: column;
    align-items: center;


    .input {
      width: 100%;
      margin-bottom: 10px;

      .name {
        @include flexCenter();
        justify-content: flex-start;
        height: 65px;

        span {
          font-size: xxx-large;
          margin-left: 15px;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            color: $backColorSecond;
          }
        }

        h2 {
          margin: 20px 0 20px 10px;
          display: inline-block;
        }
      }

      div {
        display: flex;
        justify-content: space-around;

        div {
          margin: 10px;
          width: 60%;

          input {
            width: 100%;
          }
        }
      }
    }


    .table {
      position: relative;
      margin: 10px 0;
      box-shadow: 0 4px 14px rgba(45, 46, 70, 0.15);
      min-width: 673px;
      min-height: 430px;

      .loader {
        position: absolute;
        top: 50%;
        left: 50%;
      }

      > div:nth-child(even) {
        background: $backColorFirst;
      }

      > div:nth-child(odd) {
        background: $tableFirstColor;
      }

      > div:nth-child(1) {
        background: $tableHeaderColor;
      }
    }

    .page {
      text-align: center;
      width: 100%;
    }
  }
}