.row {
  display: flex;
  width: 960px;
  height: 48px;
  align-content: flex-start;
  justify-content: space-around;


  span {
    margin-left: 5px;
    width: 25%;
    height: 48px;
  }

  .grade {
    width: 10%;
    height: 48px;
  }

}