@import "src/utils/mixins";
@import "src/utils/variables";

.container {
  @include flexCenter;
  background-image: linear-gradient(90deg, #e4b6f6, #8dd8ef);
  a {
    margin: 10px 10px;
    text-decoration: none;
  }
}