@import "src/utils/mixins";
@import "src/utils/variables";

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: $rowHeight;

  >div {
    @include flexCenter;
    text-align: center;
  }
  .name {
    @include hideTextTable;
    width: 25%;
    padding: 0 5px;
    a {
      text-decoration: none;
      color: black;
    }
    a:visited {
      color: black;
    }
    a:hover {
      color: #53a6fb;
    }
  }
  .cards {
    width: 12%;
    padding: 0 5px;
  }
  .updated {
    width: 15%;
    padding: 0 5px;
  }

  .createdBy {
    @include hideTextTable;
    width: 20%;
    padding: 0 5px;
  }
  .actions {
    width: 100%-25%-12%-15%-20%;
    @include smallButtonsForTable;
  }
}