@import "src/utils/mixins";
@import "src/utils/variables";

.main {
  width: 80px;
  text-align: center;
  padding: 5px;

  background: lightgreen linear-gradient(to left, green, gold);
  font-size: 16px;
  font-weight: bold;
  color: darkblue;
}