@import "src/utils/variables";

@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin borderCheck($color) {
  border: 1px solid $color;
}

@mixin hideTextTable {
  .hidden {
    text-align: left;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем лишнее */
    text-overflow: ellipsis; /* Добавляем многоточие */
  }

  .hidden:hover {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    white-space: unset;
    overflow: visible;
    text-overflow: unset;
    word-break: break-all;
    text-align: center;
    min-width: 150px;
    border-radius: 5%; border: 2px solid white;
    background: $tableHeaderColor;
    padding: 15px 5px;
    z-index: 20;

  }
}

@mixin tableMain($width) {
  .table {
    height: $rowHeight * 9;
    box-shadow: 0 4px 14px rgba(45, 46, 70, 0.15);
    width: $width;

    .loader {
      position: absolute;
      top: 50%; left: 50%;
      background: transparent !important;
      transform: translate(-50%, -50%);
    }

    .emptyPacksText {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      color: $backColorSecond;
    }

    > div:nth-child(even) {
      background: $tableEvenColor;
    }

    > div:nth-child(odd) {
      background: $tableOddColor;
    }

    > div:nth-child(1) {
      background: $tableHeaderColor;
    }
  }

  .page {
    @include flexCenter;
    height: $rowHeight;

    @media (max-width: 570px) {
      flex-direction: column;
      height: $rowHeight * 2.5;
    }

    .jumper {
      @include flexCenter;
      height: $rowHeight;
      > span {
        padding-left: 10px;
        @media (max-width: 570px) {
          padding-left: unset;
        }

      }
      > div {

        > input {
          padding: 5px;
          width: 60px;
          font-size: 13px;
          text-align: center;
          border-radius: unset;
          background: $tableEvenColor;
          border-bottom: none;
        }
        > input:focus {
          border-bottom: none;
        }
        > input:disabled {
          border-bottom: none;
        }
      }
      &.hide {
        display: none;
      }
    }
  }

}

@mixin smallButtonsForTable {
  @include flexCenter;
  padding: 0 5px;
  >button {
    margin: 0 2px;
    padding: 2px;
    border-radius: 10%;
    font-size: 12px
  }
}