//Background gradient and main colors
$backColorFirst: #fef2e4;
$backColorSecond: #fd974f;

//Transparent white color
$blockColor: rgba(255,255,255,0.7);

//Table colors
$tableHeaderColor: #fdb684;
$tableFirstColor: #fce0cc;

//Text description
$textDescription: #878787;
