.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(90deg, #e4b6f6, #8dd8ef);
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    width: 1008px;
    height: 636px;
    background-color: #FEFEFF;

    .settings {
      display: flex;
      flex-direction: column;
      width: 243px;
      height: 636px;
      background: #ECECF9;
    }

    .packs {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 673px;
      height: 450px;
      word-break: break-word;
      margin-left: 50px;


      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          margin: 44px 10px 10px 10px;
        }
      }

      .table {
        margin: 10px 0;
        filter: drop-shadow(0px 4px 14px rgba(45, 46, 70, 0.15));
        min-width: 673px;
        min-height: 430px;

        div:nth-child(even) {
          background: #FFFFFF;
        }

        div:nth-child(odd) {
          background: #ECECF9;
        }

        div:nth-child(1) {
          background: #e3e0f8;
        }
      }

      .page {
        text-align: center;
        border: 2px solid #2D2E46;
      }


    }
  }
}