@import "src/utils/mixins";
@import "src/utils/variables";

.link {
  padding: $paddingTopButton 25px;
  font-size: $fontSize;
  font-weight: 700;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}