.button {
    padding: 10px 35px;
    border: none;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
  }
